<md-card>
<md-card-content>
<form [formGroup]="postForm" autocomplete="off" novalidate (ngSubmit) = "postContent(postForm)">
    <div formGroupName="player">
        <md-input-container>
            <input mdInput required placeholder="Your paragon points" formControlName="paragonPoints" />
        </md-input-container>
        <md-input-container>
            <span mdPrefix>#</span>
            <input mdInput required placeholder="Your battle.net tag" formControlName="battleTag"/>
        </md-input-container>
        <div class="mdl-selectfield">
            Your character type.
            <label for="playerType"></label>
            <md-select class="form-control" name="type" id="playerType" formControlName="type" required placeholder="">
                <md-option value="">Please Select...</md-option>
                <md-option *ngFor="let type of playerTypes" [value]="type | lowercase">{{type}}</md-option>
            </md-select>
        </div>
        Region.
        <div class="mdl-selectfield">
            <label for="playerRegion"></label>l
            <md-select class="form-control" id="playerRegion" formControlName="region" required>
                <md-option value="">Please Select...</md-option>
                <md-option *ngFor="let region of playerRegions" [value]="region">{{region}}</md-option>
            </md-select>
        </div>
        Select your game type:
        <div class="mdl-selectfield">
            <md-radio-group formControlName="gameType">
                <md-radio-button class="example-radio-button" value="hardcore">
                    Hardcore
                </md-radio-button>
                <md-radio-button class="example-radio-button" value="softcore">
                    Softcore
                </md-radio-button>
            </md-radio-group>
        </div>
        Season or not:
        <div class="mdl-selectfield">
            <md-radio-group formControlName="seasonal">
                <md-radio-button class="example-radio-button" value=1>
                    Season
                </md-radio-button>
                <md-radio-button class="example-radio-button" value=0>
                    Non season
                </md-radio-button>
            </md-radio-group>
        </div>
    </div>
    <div formGroupName="query">
        <md-input-container>
            <input mdInput required placeholder="Min paragon points" formControlName="minParagon" />
        </md-input-container>
        <div formGroupName="game">
            Game type you want to play.
            <div class="mdl-selectfield">
                <label for="queryGameType"></label>l
                <md-select class="form-control" id="queryGameType" formControlName="gameMode" (change)="onChangeSelect($event)" required>
                    <md-option value="">Please Select...</md-option>
                    <md-option *ngFor="let gameType of queryGameTypes" [value]="gameType | lowercase">{{gameType}}</md-option>
                </md-select>
            </div>
            <div *ngIf="selectedGameMode | async; let currentGame; else loading">
                <div *ngIf="currentGame.gameMode === 'grift';then thenBlock; else elseBlock"></div>
                {{currentGame.gameMode}} level you want to play.
                <ng-template #thenBlock>
                    <md-select formControlName={{currentGame.options.name}}>
                        <ng-container>
                            <md-option *ngFor="let gameLevel of currentGame.options.value | async"  [value]="gameLevel">{{gameLevel}}</md-option>
                        </ng-container>
                    </md-select>
                </ng-template>
                <ng-template #elseBlock>
                    <md-select formControlName={{currentGame.options.name}}>
                        <ng-container>
                            <md-option *ngFor="let gameLevel of currentGame.options.value | async"  [value]="gameLevel">{{gameLevel | romanNumerals}}</md-option>
                        </ng-container>
                    </md-select>
                </ng-template>
            </div>
            <ng-template #loading>Loading GameMode Data...</ng-template>
        </div>
        Player types you are looking for.
        <div>
            <div *ngFor="let character of playerTypes; let i = index;">
                <div>
                    <md-checkbox type="checkbox" (change)="addCharacters(character)">
                        {{character | titlecase}}
                    </md-checkbox>
                </div>
            </div>
        </div>
    </div>
    <!--<button md-raised-button >Add Post</button>-->
    <button md-raised-button [disabled]="postForm.invalid">Add Post</button>
</form>
</md-card-content>
</md-card>
<!--<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>-->