app/logs
app/cache
app/bootstrap.php.cache
vendor
bin
database
web/bundles
.tags*
.idea
fa/node_modules
typings
fa/app/*.js
fa/app/**/.js
fa/app/components/**/*.js
fa/app/components/**/*.map
fa/app/services/**/*.js
fa/app/services/**/*.map
fa/app/models/**/*.js
fa/app/models/**/*.map
fa/app/*.map
fa/app/directives/**/*.js
fa/app/directives/**/*.map
*.log
fa/app/components/*.js
fa/bower_components
var
