<div>
    <form [ng-form-model]="postForm" (submit) = "postContent(postForm.value)">
        <div class = "form-group">
            <select class="c-select" [ng-form-control]="postForm.controls['playerType']" #class="form">
                <option selected>Select your class</option>
                <option *ng-for="#p of playerTypes" [value] = "p">{{p}}</option>
            </select>
            <input class="form-control" #newPost [ng-form-control]="postForm.controls['newPost']" placeholder="new post">
            <input class="form-control" #newQuery [ng-form-control]="postForm.controls['newQuery']" placeholder="new query">
        </div>
        <button class="btn btn-primary" type="submit">Add Post</button>
    </form>
    <input [value] = "firstName">
</div>

<div>
    Player Id
    Player Paragon
</div>
<div *ng-for="#post of posts">
    {{post.query.minParagon}}
    {{post.player.type}}
    {{post.player.battleTag}}
    {{post.player.region}}
    {{post.player.seasonal}}
    {{post.player.gameType}}
</div>

