<div>
    <form [ngFormModel]="postForm" (ngSubmit) = "postContent(postForm.value)">
        <div class = "form-group">
            <select class="c-select" [ngFormControl]="postForm.controls['playerType']" #class="ngForm">
                <option selected>Select your class</option>
                <option *ngFor="#p of playerTypes" [value] = "p">{{p}}</option>
            </select>
            <!--<input class="form-control" #newPost [ngFormControl]="postForm.controls['newPost']" placeholder="new post">-->
            <!--<input class="form-control" #newQuery [ngFormControl]="postForm.controls['newQuery']" placeholder="new query">-->
        </div>
        <button class="btn btn-primary" type="submit">Add Post</button>
    </form>
    <input [value] = "firstName">
</div>

<div>
    Player Id
    Player Paragon
</div>
<div *ngFor="#post of posts">
    {{post.query.minParagon}}
    {{post.player.type}}
    {{post.player.battleTag}}
    {{post.player.region}}
    {{post.player.seasonal}}
    {{post.player.gameType}}
</div>

